{% extends "templates/index.html" %}

{% block html_head %}

    <!--Shoelace-->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/themes/light.css" />-->
    <!--<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/shoelace-autoloader.js"></script>-->
        
    
    <!--Web Awesome-->
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.4/dist/webawesome.loader.js"></script>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.4/dist/themes/default.css" />
    <script type="module">
      await import("https://early.webawesome.com/webawesome@3.0.0-alpha.4/dist/components/option/option.js")
      await import("https://early.webawesome.com/webawesome@3.0.0-alpha.4/dist/components/select/select.js")
    </script>

    <!--Fonts-->
    <!--<link type="text/css" rel="stylesheet" href="{{domain}}/root/static/fonts/segou_ui_4/segoe.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <style>



    .button-group-toolbar wa-button-group:not(:last-of-type) {
      margin-right: var(--wa-spacing-x-small);
      }

      .text-top {
    text-align: center;
      }

    .page-header {
      font-family: "Playfair Display", serif;
    }


    wa-textarea::part(base) {
      font-family: monospace;
      font-size: 1em !important;
    }

    .page-title {
    font-size: 3rem;
    text-align: center;
    }


    hr {
    margin: 29px 0;
    border: 1px solid #977b69;
    }



      body {
        background-color: #EBDAC6;
        color: #56321F;
        font-family: 'Cinzel', serif;
        padding-bottom:30px;
      }



      :root {

        --wa-form-control-background-color: #F4EED8;
        --wa-form-control-resting-color: #56321F;
        --wa-form-control-value-color: #56321F;
        
        --wa-line-height-expanded: 1.5;
        
        --wa-color-brand-fill-loud: #56321F;
        --wa-color-surface-raised: #f4eed8;
        --wa-color-surface-border: #56321F;
        
        --wa-color-neutral-fill-normal: #f4e7b1;
        
        --wa-focus-ring: var(--wa-focus-ring-style) var(--wa-focus-ring-width) #56321F2b;
        
        

        --wa-color-primary-100: #F4EED8;
        --wa-color-primary-500: #ab7755;
        --wa-color-primary-600: #56321F;




      }

      .icon-button-color wa-icon-button::part(base) {
        color: #56321F;
      }

      .icon-button-color wa-icon-button::part(base):hover,
      .icon-button-color wa-icon-button::part(base):focus {
        color: #ab7755;
      }

      .icon-button-color wa-icon-button::part(base):active {
        color: #977b69;
      }


    .tabs-line {
      font-family: monospace;
      <!--text-wrap-mode: nowrap;-->
      white-space: pre;
    }


    ::selection {
      background-color: #FFD700 !important;
      color: #000 !important;
    }



    </style>


{% end %}
